

_auth = c2h1YmhhbS5kZXZvcHMuMUBnbWFpbC5jb206QUtDcDhrcVg4eWZCZGJoY3lOd3ZHZFFVOVpZdzN2VlI3UjFacmM0Y3RtVGdmTEZBMVBrcGhza0Z4S3R6TG95S1lhdTFhaDZDbg==
email = shubham.devops.1@gmail.com
always-auth = true

#echo -n 'admin:admin' | openssl base64